@()(implicit lang: Lang)
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>SemanticSNA</title>

        <link href="@routes.Assets.at("images/favicon.ico")" rel="shortcut icon">
        <link href="@routes.Assets.at("stylesheets/bootstrap.min.css")" rel="stylesheet" type="text/css">
        <link href="@routes.Assets.at("stylesheets/metisMenu.min.css")" rel="stylesheet" type="text/css">
        <link href="@routes.Assets.at("stylesheets/sb-admin-2.css")" rel="stylesheet" type="text/css">
        <link href="@routes.Assets.at("stylesheets/font-awesome.min.css")" rel="stylesheet" type="text/css">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react.js"></script>
        <script src="@routes.Assets.at("js/libs/react-dom-0.14.7.min.js")"></script>
        <script src="@routes.Assets.at("js/libs/jquery-2.2.0.min.js")"></script>
        <script src="@routes.Assets.at("js/libs/sb-admin-2.js")"></script>
        <script src="@routes.Assets.at("js/libs/polyglot.min.js")"></script>
        <script src="@routes.Assets.at("js/libs/bootstrap.min.js")"></script>
        <script src="@routes.Assets.at("js/libs/metisMenu.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/libs/d3.v3.min.js")"></script>
        <script src="@routes.Assets.at("js/libs/d3.layout.cloud.js")"></script>

        <script src="@routes.Assets.at("js/services/conn.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/build/mainLayout.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/build/userApp.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/build/launcher.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/build/specializedPublishers.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("js/build/words.js")" type="text/javascript"></script>

        <script src="@routes.Assets.at("js/services/i18n.js")" type="text/javascript"></script>

    </head>
    <body>
    </body>
</html>
